In [1]:
list = [1,2,3,4,5,6,7]

In [3]:
for number in list:
    print(number)

1
2
3
4
5
6
7

# range

In [4]:
range(20)

range(0, 20)

In [1]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
for num in list(range(5,20,3)):
    print(num)

5
8
11
14
17

In [4]:
#range(start,end,stepsize)

# enumerate

In [6]:
for num in list(range(0,10)):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [13]:
index = 0
for n in list(range(0,10)):
    print(f"no: {n} ix:{index}")
    index +=1

no: 0 ix:0
no: 1 ix:1
no: 2 ix:2
no: 3 ix:3
no: 4 ix:4
no: 5 ix:5
no: 6 ix:6
no: 7 ix:7
no: 8 ix:8
no: 9 ix:9

In [14]:
for n in enumerate(list(range(5,15))):
    print(n)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

In [20]:
for (index,number) in enumerate(list(range(5,15))):
    print(index)
    print(number)

0
5
1
6
2
7
3
8
4
9
5
10
6
11
7
12
8
13
9
14

# Random

In [21]:
import random

In [23]:
random.randint(0,1000)

427

In [24]:
my_list = list(range(0,10))

In [26]:
random.shuffle(my_list)

In [27]:
my_list

[6, 5, 1, 0, 9, 8, 7, 3, 2, 4]

# zip

In [28]:
sport = ["run","swim","bb"]

In [29]:
calori= [10,20,30]

In [32]:
newlist = list(zip(sport,calori))

In [33]:
newlist

[('run', 10), ('swim', 20), ('bb', 30)]

In [34]:
for e in newlist:
    print(e)

('run', 10)
('swim', 20)
('bb', 30)

# List advanced

In [37]:
list_1=[]
my_string = "Nupur"

In [38]:
for e in my_string:
    list_1.append(e)

In [39]:
list_1

['N', 'u', 'p', 'u', 'r']

In [1]:
list = [n**2 for n in list(range(0,10))]

In [2]:
list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]