In [1]:
"string"

'string'

In [2]:
x = "string "

In [3]:
x

'string '

In [4]:
x

'string '

In [5]:
type(x)

str

In [6]:
len(x)

7

escape character

In [7]:
print("nupur \tjhankar")

nupur 	jhankar

In [8]:
print("nupur \njhankar")

nupur
jhankar

# Advanced strings

In [9]:
my_string = "hello world"

indexing

In [10]:
my_string[0]

'h'

In [11]:
my_string[4]

'o'

In [12]:
my_string[-1]

'd'

Slicing

In [13]:
Y = "123567890"

In [14]:
Y[2:]

'3567890'

# Slicing

In [15]:
Y[2:5]

'356'

In [16]:
Y[:5]

'12356'

# stopping index

In [17]:
Y[:4]

'1235'

In [18]:
#step size

In [19]:
Y[::]

'123567890'

In [20]:
Y[::3]

'158'

In [21]:
Y[::2]

'13680'

In [22]:
Y[2:4:2]

'3'

In [23]:
Y[::-1]

'098765321'

In [24]:
##strinf[from:to:stepsize]

String method

In [41]:
my_name = "nupur jhankar"

In [29]:
my_n= my_name.capitalize()

In [30]:
my_n

'Nupur'

In [32]:
my_name.isnumeric() #bool output

False

In [42]:
my_name.split()[1]

'jhankar'

In [39]:
sp

['nupur']

In [43]:
my_number = 123

In [44]:
my_name.upper()

'NUPUR JHANKAR'

In [46]:
"my" * 10

'mymymymymymymymymymy'

k

In [47]:
"james"+"5"

'james5'

In [48]:
N = "nup"

In [49]:
j = "jhan"

In [52]:
N+" "+j

'nup jhan'

In [53]:
"nup"*3

'nupnupnup'